{% extends "M6ind2/base.html" %}
{% load static %}
{% block content %}

<!-- Banner de la pagina -->
<header>
    <!-- Background image -->
    <div class="position-relative bg-image" style="background-image: url('https://images.unsplash.com/photo-1497935586351-b67a49e012bf?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80'); background-size: cover; background-repeat: no-repeat; background-position: center; height: 400px;">
      <div class="position-absolute w-100 h-100" style="background-color: rgba(44, 44, 44, 0.527);">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white text-center px-4">
            <h1 class="">Hasta pronto :)</h1>
            <!-- <a class="btn btn-outline-light btn-lg" href="#!" role="button">Call to action</a> -->
          </div>
        </div>
      </div>
    </div>
  </header>

<div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body text-center">
            <i class="fa-solid fa-heart-crack fa-5x mb-4" style="color: #ff0000;" aria-hidden="true"></i>
            <h2 class="mb-3">¡Te has desconectado!</h2>
            <p class="lead">Gracias por visitarnos. Esperamos verte pronto de nuevo.</p> <i class="fa-solid fa-hand-wave"></i>
            <i class="fa-solid fa-hand-wave"></i>
            <a href="{% url 'M6Ind2:landing' %}" class="btn button-return">Volver a la página principal</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}
